# Folder that will be monitored
DOWNLOADS_PATH=./tests/test_input

# Location for log files
LOG_PATH=./logs

# Fallback location for unknown files
DEFAULT_UNKNOWN_PATH=./tests/test_output/unknown

# Module configuration file
MAPPING_FILE=./config/module_mapping.json

# Discord Webhook URLs
MANUAL_DISCORD_WEBHOOK_URL=YOUR_MANUAL_DISCORD_WEBHOOK_URL_HERE
DAILY_DISCORD_WEBHOOK_URL=YOUR_DAILY_DISCORD_WEBHOOK_URL_HERE
WEEKLY_DISCORD_WEBHOOK_URL=YOUR_WEEKLY_DISCORD_WEBHOOK_URL_HERE